.card1 {
    float: left;
    background: transparent;
    padding: 70px;
    margin: 0 20px 0 0;

}
.donut-chart {
    z-index: 99;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition:  opacity 2s ease-in-out;
}
/* ===================floating=========================== */
.donut-chart.f {
    -webkit-animation: action 1.3s infinite  alternate;
    animation: action 1.3s infinite  alternate;
}
@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-25px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-25px); }
}

.donut-chart.s {
    -webkit-animation: action 2.3s infinite  alternate;
    animation: action 2.3s infinite  alternate;
}
@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-25px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-25px); }
}
.donut-chart.t {
    -webkit-animation: action 2.6s infinite  alternate;
    animation: action 2.6s infinite  alternate;
}
@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-25px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-25px); }
}
.donut-chart.fo {
    -webkit-animation: action 2s infinite  alternate;
    animation: action 2s infinite  alternate;
}
@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-25px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-25px); }
}
/* ========================================================== */

.donut-chart .quad1 {
    position: absolute;
    top: 0;
    left: 0;
}
.donut-chart .chart-center1 {
    position: absolute;
    border-radius: 50%;
}
.donut-chart .chart-center1 span {
    display: block;
    text-align: center;
}
@keyframes chart3 {
    0% {
        -webkit-transform: rotate(0deg);
   }
    100% {
        -webkit-transform: rotate(288deg);
   }
}
@keyframes chartRotate2 {
    0% {
        -webkit-transform: rotate(0deg);
   }
    100% {
        -webkit-transform: rotate(90deg);
   }
}
@keyframes chartRotate3 {
    0% {
        -webkit-transform: rotate(0deg);
   }
    100% {
        -webkit-transform: rotate(180deg);
   }
}
@keyframes chartRotate4 {
    0% {
        -webkit-transform: rotate(0deg);
   }
    100% {
        -webkit-transform: rotate(270deg);
   }
}
@keyframes chartCover {
    0%, 90% {
        opacity: 1;
   }
    91%, 100% {
        opacity: 0;
   }
}
.donut-chart.chart3 {
    width: 150px;
    height: 150px;
    background: #e1e1e1;
    opacity: 1;
}
.donut-chart.chart3 .quad1 {
    width: 75px;
    height: 75px;
    top: 0;
    left: 0;
    border-radius: 100% 0 0 0;
    display: none;
}
.donut-chart.chart3 .quad1.one {
    transform: rotate(288deg);
    transform-origin: bottom right;
    background: #4b97b9;
    animation: chart3 1.5s linear;
    display: block;
}
.donut-chart.chart3 .quad1.two {
    transform: rotate(90deg);
    transform-origin: bottom right;
    background: #4b97b9;
    animation: chartRotate2 1.5s linear;
    display: block;
}
.donut-chart.chart3 .quad1.three {
    transform: rotate(180deg);
    transform-origin: bottom right;
    background: #4b97b9;
    animation: chartRotate3 1.5s linear;
    display: block;
}
.donut-chart.chart3 .quad1.four {
    transform: rotate(270deg);
    transform-origin: bottom right;
    background: #4b97b9;
    animation: chartRotate4 1.5s linear;
    display: block;
}
.donut-chart.chart3 .quad1.top {
    display: block;
    background: #e1e1e1;
    opacity: 0;
    animation: chartCover 0.01s linear 1.25s both;
}
.donut-chart.chart3 .chart-center1 {
    top: 10px;
    left: 10px;
    width: 130px;
    height: 130px;
    background: #58c8da;
    text-align: center;
    line-height: 130px;
    font-size: 30px;


}
/* .donut-chart.chart3 .chart-center1:after { */
    /* display: inline-block;
    width: 100%;
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    line-height: 24px;
    content: "       80% of       plastic litter in oceans comes from land-based sources";
    white-space: pre-wrap; */

    /* display: inline-block;
    width: 100%;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    line-height: 130px; */
    /* content: "80%";
    white-space: pre-wrap; */
/* } */

/* ==============================================Second chart====================================================== */
/* .donut-chart.chart3 .chart-center::before{
    display: inline-block;
    width: 100%;
    font-size: 15px;
    color: #fdfcfc;
    text-align: center;
    line-height: 20px;
    content:  ' 52% of all sea turtles have eaten plastic particles' ;
    white-space: pre-wrap;
} */

.card2 {
    float: left;
    background: transparent;
    padding: 70px;
    margin: 0 20px 0 0;
}
.donut-chart {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}
.donut-chart .quad2 {
    position: absolute;
    top: 0;
    left: 0;
}
.donut-chart .chart-center2 {
    position: absolute;
    border-radius: 50%;
}
.donut-chart .chart-center2 span {
    display: block;
    text-align: center;
}
@keyframes chart3 {
    0% {
        -webkit-transform: rotate(0deg);
   }
    100% {
        -webkit-transform: rotate(79.2deg);
   }
}
@keyframes chartRotate2 {
    0% {
        -webkit-transform: rotate(0deg);
   }
    100% {
        -webkit-transform: rotate(90deg);
   }
}
@keyframes chartRotate3 {
    0% {
        -webkit-transform: rotate(0deg);
   }
    100% {
        -webkit-transform: rotate(180deg);
   }
}
@keyframes chartRotate4 {
    0% {
        -webkit-transform: rotate(0deg);
   }
    100% {
        -webkit-transform: rotate(270deg);
   }
}
@keyframes chartCover {
    0%, 90% {
        opacity: 1;
   }
    91%, 100% {
        opacity: 0;
   }
}
.donut-chart.chart3 {
    width: 150px;
    height: 150px;
    background: #e1e1e1;
}
.donut-chart.chart3 .quad2 {
    width: 75px;
    height: 75px;
    top: 0;
    left: 0;
    border-radius: 100% 0 0 0;
    display: none;
}
.donut-chart.chart3 .quad2.one {
    transform: rotate(79.2deg);
    transform-origin: bottom right;
    background: #4b97b9;
    animation: chart3 1.5s linear;
    display: block;
}
.donut-chart.chart3 .quad2.two {
    transform: rotate(90deg);
    transform-origin: bottom right;
    background: #4b97b9;
    animation: chartRotate2 1.5s linear;
}
.donut-chart.chart3 .quad2.three {
    transform: rotate(180deg);
    transform-origin: bottom right;
    background: #4b97b9;
    animation: chartRotate3 1.5s linear;
}
.donut-chart.chart3 .quad2.four {
    transform: rotate(270deg);
    transform-origin: bottom right;
    background: #4b97b9;
    animation: chartRotate4 1.5s linear;
}
.donut-chart.chart3 .quad2.top {
    display: block;
    background: #e1e1e1;
}
.donut-chart.chart3 .chart-center2 {
    top: 10px;
    left: 10px;
    width: 130px;
    height: 130px;
    background: #58c8da;
    text-align: center;
    line-height: 130px;
    font-size: 30px;
}
/* .donut-chart.chart3 .chart-center2:after { */
    /* display: inline-block;
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 26px;
    content: "         Ingesting           a single item of plastic has a 22%  chance of killing a sea turtle";
    white-space: pre-wrap; */
    /* display: inline-block;
    width: 100%;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    line-height: 130px;
    content: "22%";
    white-space: pre-wrap;
} */
/* ==================chart 3======================================= */
.card3 {
    float: left;
    background: transparent;
    padding: 70px;
    margin: 0 20px 0 0;
}
.donut-chart {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}
.donut-chart .quad3 {
    position: absolute;
    top: 0;
    left: 0;
}
.donut-chart .chart-center3 {
    position: absolute;
    border-radius: 50%;
}
.donut-chart .chart-center3 span {
    display: block;
    text-align: center;
}
@keyframes chart3 {
    0% {
        -webkit-transform: rotate(0deg);
   }
    100% {
        -webkit-transform: rotate(187.2deg);
   }
}
@keyframes chartRotate2 {
    0% {
        -webkit-transform: rotate(0deg);
   }
    100% {
        -webkit-transform: rotate(90deg);
   }
}
@keyframes chartRotate3 {
    0% {
        -webkit-transform: rotate(0deg);
   }
    100% {
        -webkit-transform: rotate(180deg);
   }
}
@keyframes chartRotate4 {
    0% {
        -webkit-transform: rotate(0deg);
   }
    100% {
        -webkit-transform: rotate(270deg);
   }
}
@keyframes chartCover {
    0%, 90% {
        opacity: 1;
   }
    91%, 100% {
        opacity: 0;
   }
}
.donut-chart.chart3 {
    width: 150px;
    height: 150px;
    background: #e1e1e1;
}
.donut-chart.chart3 .quad3 {
    width: 75px;
    height: 75px;
    top: 0;
    left: 0;
    border-radius: 100% 0 0 0;
    display: none;
}
.donut-chart.chart3 .quad3.one {
    transform: rotate(187.2deg);
    transform-origin: bottom right;
    background: #4b97b9;
    animation: chart3 1.5s linear;
    display: block;
}
.donut-chart.chart3 .quad3.two {
    transform: rotate(90deg);
    transform-origin: bottom right;
    background: #4b97b9;
    animation: chartRotate2 1.5s linear;
    display: block;
}
.donut-chart.chart3 .quad3.three {
    transform: rotate(180deg);
    transform-origin: bottom right;
    background: #4b97b9;
    animation: chartRotate3 1.5s linear;
    display: block;
}
.donut-chart.chart3 .quad3.four {
    transform: rotate(270deg);
    transform-origin: bottom right;
    background: #4b97b9;
    animation: chartRotate4 1.5s linear;
}
.donut-chart.chart3 .quad3.top {
    display: block;
    background: #e1e1e1;
}
.donut-chart.chart3 .chart-center3 {
    top: 10px;
    left: 10px;
    width: 130px;
    height: 130px;
    background: #58c8da;
    text-align: center;
    line-height: 130px;
    font-size: 30px;
}
/* .donut-chart.chart3 .chart-center3:after { */
    /* display: inline-block;
    width: 100%;
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    content: "      52% of all      sea turtles have eaten plastic particles";
    white-space:pre-wrap; */
/* 
    display: inline-block;
    width: 100%;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    line-height: 130px; */
    /* content: "   94% of the plastic that enters the ocean ends up on the seafloor"; */
    /* content: "52%";
    white-space: pre-wrap;
} */


/* ========================fourth chart============================= */
.card4 {
    float: left;
    background: transparent;
    padding: 70px;
    margin: 0 20px 0 0;
}
.donut-chart {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}
.donut-chart .quad4 {
    position: absolute;
    top: 0;
    left: 0;
}
.donut-chart .chart-center4 {
    position: absolute;
    border-radius: 50%;
}
.donut-chart .chart-center4 span {
    display: block;
    text-align: center;
}
@keyframes chart3 {
    0% {
        -webkit-transform: rotate(0deg);
   }
    100% {
        -webkit-transform: rotate(338.4deg);
   }
}
@keyframes chartRotate2 {
    0% {
        -webkit-transform: rotate(0deg);
   }
    100% {
        -webkit-transform: rotate(90deg);
   }
}
@keyframes chartRotate3 {
    0% {
        -webkit-transform: rotate(0deg);
   }
    100% {
        -webkit-transform: rotate(180deg);
   }
}
@keyframes chartRotate4 {
    0% {
        -webkit-transform: rotate(0deg);
   }
    100% {
        -webkit-transform: rotate(270deg);
   }
}
@keyframes chartCover {
    0%, 90% {
        opacity: 1;
   }
    91%, 100% {
        opacity: 0;
   }
}
.donut-chart.chart3 {
    width: 150px;
    height: 150px;
    background: #e1e1e1;
}
.donut-chart.chart3 .quad4 {
    width: 75px;
    height: 75px;
    top: 0;
    left: 0;
    border-radius: 100% 0 0 0;
    display: none;
}
.donut-chart.chart3 .quad4.one {
    transform: rotate(338.4deg);
    transform-origin: bottom right;
    background: #4b97b9;
    animation: chart3 1.5s linear;
    display: block;
}
.donut-chart.chart3 .quad4.two {
    transform: rotate(90deg);
    transform-origin: bottom right;
    background: #4b97b9;
    animation: chartRotate2 1.5s linear;
    display: block;
}
.donut-chart.chart3 .quad4.three {
    transform: rotate(180deg);
    transform-origin: bottom right;
    background: #4b97b9;
    animation: chartRotate3 1.5s linear;
    display: block;
}
.donut-chart.chart3 .quad4.four {
    transform: rotate(270deg);
    transform-origin: bottom right;
    background: #4b97b9;
    animation: chartRotate4 1.5s linear;
    display: block;
}
.donut-chart.chart3 .quad4.top {
    display: block;
    background: #e1e1e1;
    opacity: 0;
    animation: chartCover 0.01s linear 1.25s both;
}
.donut-chart.chart3 .chart-center4 {
    top: 10px;
    left: 10px;
    width: 130px;
    height: 130px;
    background: #58c8da;
    text-align: center;
    line-height: 130px;
    font-size: 30px;
}
/* .donut-chart.chart3 .chart-center4:after { */
    /* display: inline-block;
    width: 100%;
    font-size: 16.7px;
    color: #ffffff;
    text-align: center;
    line-height: 29px;
    content: "   94% of the plastic that enters the ocean ends up on the seafloor";
    white-space: pre-wrap; */

    /* display: inline-block;
    width: 100%;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    line-height: 130px; */
    /* content: "   94% of the plastic that enters the ocean ends up on the seafloor"; */
    /* content: "94%";
    white-space: pre-wrap;
} */
