/* #root{
    border: solid red;
}
#containing{
    border: solid white;
    width: 100%;
} */

/* Jack's Journey Title */
.entrancetitle {
	cursor: default;
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	bottom: 400px;
	height: 100px;
	margin: auto;
	display: block;

	font-family: 'Lemon', cursive;
	font-size: 70px;
	color: #fff;
	text-align: center;
	line-height: 100px;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
		0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
		0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.6);
}
/* ============================================Seeweed gif for the source and about page================================================ */
.see {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 80%;
}
.see.seconds-s {
	position: absolute;
	transform: rotate(-30deg);
	left: 1em;
	top: 38.7em;
}
.see.thirds-s {
	position: absolute;
	transform: rotate(40deg);
	left: 7.2em;
	top: 40em;
}
.see.firsts-s {
	position: absolute;
	left: 4.2em;
	top: 38em;
}
.see.fourths-s {
	position: absolute;
	transform: rotate(-40deg);
	left: 70em;
	top: 40em;
}
.see.fifths-s {
	position: absolute;
	transform: rotate(40deg);
	left: 75.9em;
	top: 39.4em;
}
.see.sixths-s {
	position: absolute;
	left: 73em;
}
/* ==========================================End Seeweed gif for the source and about page================================================ */



/* Swimming fish in landing page */
.fish-sec-s {
	left: 0%;
	position: absolute;
	width: 90px;
	height: 90px;
	transform: scaleX(-1);
  top: 37%;
	z-index: 1004;
	/* -webkit-animation:fly-turn .5s linear infinite, go-left-right 4s infinite alternate; */
	/* -moz-animation:fly-turn .5s linear infinite, go-left-right 4s infinite alternate; */
	transition: all 1s ease-in-out;
	animation: ani 7.7s infinite;
}

@keyframes anit {
	0% {
		left: 100vw;
	}
	50% {
		left: 0;
	}
	100% {
		left: 100vw;
		transform: scaleX(-1);
	}
}
@keyframes ani {
	0% {
		left: 0;
	}
	50% {
		left: 100vw;
	}
	100% {
		left: 0;
		transform: scaleX(1);
	}
}
/* end of landing page fish */


/* about page sea horse */
.seahorse {
	position: absolute;
	width: 20%;
	height: 50%;
	left: 82%;
	top: 30%;
	filter: grayscale(50%) brightness(79%) hue-rotate(211deg);
	-webkit-filter: grayscale(50%) brightness(79%) hue-rotate(211deg);
}

/* landing page input and bitton */
@import url(https://fonts.googleapis.com/css?family=Lemon);

.homeform{
    /* border: solid red; */
    position: absolute;
    top: 50%;
    left: 42%;
    height: 200px;
    z-index: 5;
}
.userform{
    /* border: solid rgb(255, 0, 64); */
   position: relative;
   border: solid 2px rgba(255, 255, 255, 0.76);
   border-radius: 20px;
   height: 50px;
   width: 200px;
   font-size: 20px;
   font-family: 'Lemon';
   background: transparent;
   color: white;
   -moz-box-shadow: 0 0 6px #ccc;
   -webkit-box-shadow: 0 0 6px #ccc;
   box-shadow: 0 0 6px #ccc;
   -webkit-animation: action 1s infinite  alternate;
   animation: action 1s infinite  alternate;
}
.userbtn{
  /* position: relative;
    top:80px;
	left: -50%;  */
	position: absolute;
    top:80px;
	left: 25%; 
    border: solid 2px rgba(255, 255, 255, 0.76);
    border-radius: 50px;
    width: 80px;
    height: 50px;
    background: transparent;
    color: rgba(255, 255, 255, 0.664);
    font-family: 'Lemon';
    -moz-box-shadow: 0 0 6px #ccc;
    -webkit-box-shadow: 0 0 6px #ccc;
    box-shadow: 0 0 6px #ccc;
    outline: none;
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
    
}






textarea:focus, input:focus{
    outline: none;
  
}
input {
    text-align: center;
    color: rgba(255, 255, 255, 0.425);
        font-family: 'Lemon';
  }
  
  ::-webkit-input-placeholder {
    text-align: center;
    color: rgba(255, 255, 255, 0.425);
        font-family: 'Lemon';
  }
  
  :-moz-placeholder {
    text-align: center;
    color: rgba(255, 255, 255, 0.425);
        font-family: 'Lemon';
  }

@media only screen and (min-width: 320px) and (max-width: 500px){
	.entrancetitle {
		font-size:35px ;
	}
	.fish-sec-s{
	position: absolute;
	width: 60px;
	height: 60px;
	top: 33%;
	}
	.homeform{
		position: absolute;
		left: 23%;
		height: 200px;
		top: 45%;
	
	}


}
