* {
	margin: 0;
	padding: 0;
}
/* #root{
    border: solid red;
  
}
#containing{
    border: solid white;
    width: 100%;
    
}  */
html {
	/* overflow-x: hidden; */
	overflow-y: auto;
}

/* Horizontal Divs for journey */
.slide {
	width: 500vw;
	height: 100vh;
	scroll-behavior: smooth;
}

.wrapper {
	display: flex;
	flex-direction: row;
	width: 1200vw;
	transform: rotate(90deg) translateY(-100vh);
	transform-origin: top left;
	scroll-behavior: smooth;
	overflow: hidden;
	/* added overflow hidden on refactor */
}

.one,
.two,
.three,
.four,
.five,
.six {
	/* background-image: radial-gradient(#65c6c4, #113f67); */
	background-image: linear-gradient(0deg, #011d3a, #57b1be);
}

.outer-wrapper {
	width: 100vh;
	height: 100vw;
	transform: rotate(-90deg) translateX(-100vh);
	transform-origin: top left;
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
::-webkit-scrollbar {
	display: none;
}
/* =========================================== */

li {
	margin-bottom: 1em;
	list-style: none;
	list-style-type: square;
}
.sand {
	position: absolute;
	background: #f79e51;
	height: 8%;
	position: absolute;
	width: 100%;
	right: 0;
	bottom: 0%;
	left: 0;
	z-index: 1000;
}

/* Info when hover over charts */
 .plasinfocharts{
	position: absolute;
	top: 41%;
	left: 51%;
	width: 5%;
	opacity: 0;
	transition: opacity 1.3s ease-in-out;
}
.plasinfo {
	-webkit-animation: action 2.5s infinite alternate;
	animation: action 2.5s infinite alternate;
}
@-webkit-keyframes action {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-15px);
	}
}
@keyframes action {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-15px);
	}
}

/* All Images in bubbles and in modal */
.img {
	z-index: 90;
	width: 90px;
	height: 90px;
	margin-top: 5%;
	transform: rotate(-40deg);
	/*Scale down will take the necessary specified space that is 100px x 100px without stretching the image*/
	object-fit: scale-down;
	cursor: pointer;
}
/* ================================= */
.Modal {
	position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    padding: 2em;
    height: 70vh;
    min-width: 50em;
    max-width: 70%;
    color: rgb(255, 253, 253);
    overflow: hidden;
    background-image: linear-gradient(0deg, #102b47, #74ccda);
    border-radius: 1.5em;
    transform: translate(-50%, -50%);
    outline: transparent;
}
.Overlay {
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(35, 86, 116, 0.884);
}

.modalbtn {
	/* border: solid red; */
	outline: none;
    position: absolute;
    height: 45px;
    width: 45px;
    left: 92%;
    top: 0.6em;
    color: white;
    font-weight: 800;
    background-image: linear-gradient(0deg, #102b47, #74ccda);
    border-radius: 50%;
    border: white;
	cursor: pointer;
}
/* Line that seperates info in the plastic modal popup */
.vs {
	position: absolute;
	border-left: 3px dotted rgb(245, 247, 248);
	height: 500px;
	top: 1em;
	left: 51%;
}
.main {
	/* border:solid rgb(0, 140, 255); */
	position: relative;
	width: 100%;
	/* overflow: hidden;  */
}
.inner {
	display: flex;
	flex-direction: row;
	position: relative;
	height: auto;
}
/* title in modal */
.plasticName {
	text-align: center;
}
/* left info in modal */
.plasticInfo {
	top: 1em;
	/* border:solid rgb(0, 217, 255); */
	position: absolute;
	width: 50%;
	overflow: scroll;
}
/* right info in modal */
.alternativeInfo {
	top: 1em;
	/* border:solid red; */
	position: absolute;
	width: 50%;
	left: 55%;
	overflow: scroll;
}
/* Images of plastic in Modal */
.bottlesb {
	position: relative;
	transform: rotate(1deg);
	left: 8em;
}
.Bagsb {
	position: relative;
	transform: rotate(1deg);
	left: 8em;
}
.Strawsb {
	position: relative;
	transform: rotate(-23deg);
	left: 10em;
	/* width: 250%; */
	height: 45%;
}
.Styrofoamb {
	position: relative;
	transform: rotate(1deg);
	left: 8em;
}
/* =============================================== */

/* ============All of three stem seaweed in journey on top of pebbles============================= */

.seaone,
.seatwo,
.seathree {
	position: absolute;
	height: 120px;
}
.seaone {
	height: 380px;
	width: 170px;
	left: 10.2%;
	bottom: -1.2em;
}
.seatwo {
	height: 400px;
	width: 170px;
	bottom: -1.7em;
	left: 16.9%;
}
.seathree {
	left: 91.1%;
	bottom: -0.8em;
	height: 400px;
	width: 150px;
}
/* ============End of three stem seaweed in journey============================= */

/* ================All of all big main seeweeds in journey and landing page============================== */

.uno,
.dos,
.thirdgrass,
.fourthgrass,
.fifthgrass,
.sixthgrass {
	z-index: 3;
	position: absolute;
	width: 200px;
	height: 389px;
	transform: rotate(-6deg);
}
.thirdgrass,
.fourthgrass,
.fifthgrass,
.sixthgrass {
	z-index: 3;
	position: absolute;
	height: 270px;
	transform: rotate(-6deg);
}
.thirdgrass {
	left: 47.5%;
	bottom: 1em;
}
.fourthgrass {
	left: 97.9%;
	bottom: 1em;
}
.fifthgrass {
	height: 380px;
	left: 72.9%;
	bottom: -3em;
}
.sixthgrass {
	left: 73.9%;
	bottom: -1.5em;
}
.seventhgrass {
	z-index: 3;
	position: absolute;
	width: 190px;
	height: 325px;
	transform: rotate(-6deg);
	bottom: -7%;
	left: 66%;
}
.eighthgrass {
	z-index: 3;
	position: absolute;
	width: 190px;
	height: 389px;
	transform: rotate(-6deg);
	bottom: -7%;
	left: 59%;
}
.uno {
	bottom: -4.5em;
	left: -0.2%;
}
.dos {
	position: absolute;
	left: 7.4%;
	bottom: -4.3em;
	transform: rotate(1deg);
}
/* ================end of all big main seeweeds============================== */

/* fish shadow swimming in journey */

.fishy {
	position: absolute;
	top: 35em;
	height: 50px;
	opacity: 0.5;
	transform: scaleX(1);
	transition: all 44s ease-in-out;
	animation: aniblur 8.7s infinite;
}
@keyframes aniblur {
	0% {
		left: 18%;
	}
	50% {
		left: 12%;
	}
	100% {
		left: 18%;
		transform: scaleX(-1);
	}
}
.twin {
	position: absolute;
	top: 400px;
	z-index: 999;
	left: -20px;
	transform: scaleX(1);
	transition: all 44s ease-in-out;
	animation: twin 8.7s infinite;
}
@keyframes twin {
	0% {
		left: 70%;
	}
	50% {
		left: 60%;
	}
	100% {
		left: 70%;
		transform: scaleX(-1);
	}
}
/* end of the grey shadow swimming fish  */
/* seahorse family in journey */
.fam {
	position: absolute;
	left: 67.2%;
	width: 1%;
	height: 20%;
	top: 62%;
	transform: scaleX(1);
	transition: all 1s ease-in-out;
	animation: ani-horse 7.7s infinite;
	filter: grayscale(50%) brightness(79%) hue-rotate(211deg);
	-webkit-filter: grayscale(50%) brightness(79%) hue-rotate(211deg);
}
.fam.triple {
	left: 17.8%;
	top: 58%;
	/* border: solid red; */
}
/* not a squid jsut another swimming grey fish in journey */
.squid {
	position: absolute;
	width: 50px;
	height: 40px;
	left: 75%;
	top: 70%;
	filter: grayscale(50%) brightness(70%) hue-rotate(88deg);
	-webkit-filter: grayscale(50%) brightness(70%) hue-rotate(88deg);
	animation: ani-squid 7.7s infinite;
	transform: scaleX(-1);
}
@keyframes ani-squid {
	0% {
		left: 75%;
	}
	50% {
		left: 80%;
	}
	100% {
		left: 75%;
		transform: scaleX(1);
	}
}

/* =============All single big rocks================== */
.single,
.single2,
.single3,
.single4 {
	position: absolute;
	height: 350px;
	bottom: 0.3em;
}
.single {
	left: 0.1%;
	transform: rotate(-5deg);
}
.single2 {
	left: 48%;
}
.single3 {
	left: 91.3%;
}
.sing1,
.sing4,
.sing5 {
	position: absolute;
}
.sing1 {
	left: 91.5%;
	bottom: 2em;
	height: 250px;
}

.sing4 {
	left: 0.4%;
	bottom: 2em;
	height: 200px;
}
/* ===============end of all songle big rocks============== */
/* the crab */
.crab {
	position: absolute;
    height: 200px;
    width: 170px;
   bottom: -1.3em;
	left: 28.3%;
	animation-name: crabs;
	animation-duration: 14s;
	animation-iteration-count: infinite;
}
@keyframes crabs {
	0% {
		left: 28.3%;
	}
	25% {
		left: 26.3%;
	}
	50% {
		left: 23%;
	}
	75% {
		left: 26.3%;
	}
	100% {
		left: 28.3%;
	}
}

/* Blue corals that have rock and green coral attached */
.unoazul,
.dosazul,
.tresazul {
	position: absolute;
	height: 160px;
}
.unoazul {
	left: 28%;
	bottom: 2.3em;
}
.dosazul {
	bottom: 1.6em;
	left: 21.2%;
	height: 260px;
	width: 150px;
}
.tresazul {
	height: 270px;
	width: 170px;
	bottom: -1em;
	left: 51%;
}
/* ===================end=============================== */

/* Rocks with plants on them */
.frock,
.srock,
.trock,
.fourthrock,
.fifthrock,
.sixrock {
	position: absolute;
	height: 140px;
	bottom: 1.6em;
	transform: rotate(8deg);
}
.frock {
	left: 33.5%;
	transform: rotate(-13deg);
}
.srock {
	left: 33.8%;
	width: 170px;
}
.trock {
	left: 21%;
	width: 210px;
}
.fourthrock {
	left: 98.7%;
	height: 160px;
	width: 200px;
}
.fifthrock {
	left: 81.4%;
	height: 160px;
	width: 200px;
	bottom: 1.1em;
}
.sixrock {
	left: 58%;
}
/* =================== */
/*================= small pebbles====================== */
.p,
.e,
.b,
.v,
.l,
.i,
.s {
	position: absolute;
	height: 190px;
	bottom: 1.6em;
}
.p {
	left: 50.8%;
}
.b {
	left: 17%;
}
.l {
	bottom: -1.8em;
	left: 16.7%;
	transform: rotate(-48deg);
}
.i {
	left: 16.7%;
}

/* group  one of pebblessss */
.v {
	left: 10.3%;
	/* border: solid rgb(255, 0, 34); */
}

.e {
	left: 10%;
	/* border: solid rgb(89, 0, 255); */
}
.s {
	bottom: 3.4em;
	transform: rotate(48deg);
	left: 10.5%;
	/* border: solid rgb(102, 255, 0); */
}
/* ====================================================== */

h1 {
	text-align: center;
}

/* Collected plastics */
.collected {
	position: absolute;
	z-index: 100;
	left: 94%;
    top: 8%;
    font-size: 2rem;
	/* font-size: 35px; */
	transition: left 1.9s;
}
.collected2 {
    font-size: 1.5vh;
	/* font-size: 10px; */
}
/* End of message */
.lastmessage {
	position: relative;
	left: 64%;
	width: 900px;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}
.lastmessage.pa2 {
	/* border: solid red; */
	position: relative;
	left: 67.6%;

	top: 5%;
}
.lastmessage.pa1 {
	/* border: solid red; */
	top: 2.5%;
	left: 71%;
	width: 350px;
}

@media only screen and (min-width: 320px) and (max-width: 500px){
    .collected{
        left: 85%;
        font-size: 20px;
    }
    .img{
        width: 50px;
        height: 50px;
    }
    .plasinfocharts{
        top: 34%;
        left: 53%;
        font-size: 20px;
    }
   .Modal{
    min-width: 20em;
   }
   .bottlesb, .Styrofoamb, .Strawsb,.Bagsb {
       left: 4em;
   }
   .fam{
    width: 2%;
	height: 15%;
   }

   .modalbtn {
	height: 10.5%;
	width: 9%;
	left: 84.5%;

}
}

@media only screen and (min-width: 2000px) {
	.plasinfocharts{
		left: initial!important;
	}
	.hover.forcharts {
		left: 14%!important;
	}
}
.desktop-view-msg-overlay{
	display: none;

	
}
.desktop-view-msg{
	display:none;
}

/* width:1440px height:764px */
@media only screen and (max-width:1439px) {
	.desktop-view-msg-overlay{
		display: flex;
		flex-direction: column;
		gap: 3rem;
		justify-content: start;
		align-items: center;
		position: absolute;
		z-index: 999;
		height: 100vh;
		width: 100vw;
		background-image: linear-gradient(0deg, #102b47, #74ccda);
		padding-top: 5rem;
	}
	.desktop-view-msg{
		display: flex;
		flex-direction: column;
		gap: 3rem;
		justify-content: center;
		align-items: center;
		max-width: 70vw;
		text-align: center;
	}
	.desktop-view-msg .blob.blue,
	.desktop-view-msg .bubbletext{
		display: none;
	}
	.desktop-view-msg .background{
		top: 55%;
		margin-top: 0;
		
	}
}

@media only screen and (max-width:564px) {

	.desktop-view-msg{
		font-size: 12px;
	}

	.desktop-view-msg .seaturtle .head{
	margin-top: -18px;
    width: 60px;
    height: 65px
	}
	.desktop-view-msg .casc{
	width: 60px;
    height: 60px;
	}
	.desktop-view-msg .seaturtle .eye {
		width: 10px;
		height: 10px
	}
	.desktop-view-msg .background{
		top: 70vh;
		margin-top: 0;
		
	}
}