*{
    margin: 0;
    padding: 0;
}



.slide{
    width: 600vw;
    height: 100vh;
    scroll-behavior: smooth;

}
/* .outer-wrapper{
    border:solid red;

} */
.wrapper{
    display:flex;
    flex-direction: row;
    width: 1200vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    scroll-behavior: smooth;
}

.one{
    background: rgb(4, 247, 234);
}
.two{
    background: rgb(11, 175, 197);
}
.three{
    background: rgb(37, 182, 170);
}
.four{
    background: rgb(31, 145, 139);
}
.five{
    background: rgb(35, 207, 193);
}
.six{
    background: rgb(117, 241, 245);
}


.text{
    border: solid white;
    position: relative;
    left: 50%;
    top: 40%;
    width: 25%;
    z-index: 3;
    opacity: 0;

    transition: width 1.5s, height 2s, opacity 900ms ease-in-out;

}

.text.appear{
    opacity: 1;
    width: 300px;
    height: 300px;
}
/* .seven{
    background: rgb(64, 101, 224);
}
.eight{
    background: rgb(165, 64, 224);
}
.nine{
    background: rgb(173, 64, 224);
}
.ten{
    background: rgb(12, 201, 169);
}
.eleven{
    background: rgb(26, 119, 65);
}
.twelve{
    background: rgb(177, 13, 89);
} */

.outer-wrapper{
    width:100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width:none;
    -ms-overflow-style: none;
}
::-webkit-scrollbar{display: none;}



