.plastic{
    z-index: 99;
    opacity: .6;

    position: absolute;
    color:blue;
    text-align:center;
      display: block;
    border:solid #E2FFFF;
    width:100px;
    height:100px;
      border-radius:100% 100% 100% 100% / 100% 100% 100% 100%; 
    background-color:#E2FFFF;
  
      padding-top: 4px;

    /* box-shadow: 0px 0px 9px 4px #F5F5F5; */
    box-shadow: 0px 0px 5px 4px rgb(245, 245, 245);

    animation: glow 1.5s linear infinite alternate;
  }

  @keyframes pulse {
    0% {
      border: 1px solid rgba(255, 0, 0, 1)
    }
    100% {
      border: 1px solid rgba(255, 0, 0, 0)
    }
  }
  .plastic {
    -webkit-animation: action 1.5s infinite  alternate;
    animation: action 1.5s infinite  alternate;
}
@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-35px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-35px); }
}

  .plastic.bag{
    position: absolute;
    top: 34%;
    left: 42.7%;
    /* top: 34%;
    left: 93.3%; */
  }
  .plastic.bottle{
    position: absolute;
    top: 39%;
    left: 15%;
    /* top: 62%;
    left: 92.3%; */
  }
  .plastic.straw{
    position: absolute;
    top: 70%;
    left: 62%;
    /* top: 34%;
    left: 96.5%; */
  }
  .plastic.cups{
    position: absolute;
    top: 43%;
    left: 86%;
    /* top: 62%;
    left: 97.6%; */
  }
  .plastic.can{
    position: absolute;
    top: 32%;
    left: 33%;
   
    /* top: 23%;
    left: 95%; */
  }

  .b-bag{
    transform: rotate(190deg);

  }
  .b-cup{
    width:60px;
    height:50px;
 margin-top:19%;
 transform: rotate(40deg);
 /*Scale down will take the necessary specified space that is 100px x 100px without stretching the image*/
     object-fit:scale-down;
  }
  
  
  @keyframes glow{
    to {
      box-shadow: 0px 0px 20px 6px #F5F5F5;
      /* box-shadow: 0px 0px 20px 6px rgba(255, 255, 255, 0.986); */
    }
  }
  @media only screen and (max-width: 500px){
    .plastic{
      width:50px;
      height:50px;
    }
    .b-cup{
      width:50px;
    height:40px;
    }
    .plastic.bag{
      left: 43.5%;
    }
    .plastic.straw{
      top: 40%;
      left: 66%;
    }
  }