.background{
    /* border: solid red; */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 40%;
}
.seaturtle {
    
    position: relative;
    z-index: 1;
    transform: rotateY(180deg);
    /* transform: rotateY(360deg); */
    top: 500px;
}
.seaturtle .head {
    margin-top: -30px;
    width: 70px;
    height: 75px;
    background: #82af2a;
    border-radius: 100%;
    position: relative;
    right: 30px;
    animation: swimAlt ease 0.85s infinite forwards;
}
.seaturtle .head:before {
    content: "";
    position: absolute;
    border-radius: 60px 0 60px 0;
    transform: rotate(-10deg);
    transform-origin: top left;
    backface-visibility: hidden;
    width: 20px;
    height: 8px;
    position: absolute;
    bottom: 10px;
    left: 5px;
    border: 3px solid #57751c;
    border-width: 0px 3px 0px 0px;
}
.seaturtle .head:after {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    background: transparent;
    right: -60px;
    bottom: 25px;
    border-radius: 0 0 70% 50%;
    border: 15px solid;
    border-color: transparent transparent #82af2a transparent;
}

.seaturtle .eye {
    width: 13px;
    height: 13px;
    background: #000;
    border-radius: 50% 50% 0 0;
    position: absolute;
    top: 25px;
    left: 20px;
    border-top: 2px solid #000;
    animation: eyeBlink 3s infinite;
}
.seaturtle .eye:before {
    content: "";
    width: 13px;
    height: 10px;
}
@keyframes eyeBlink {
    0% {
      height: 0;
    }
    10% {
      height: 12px;
    }
  } 

.seaturtle .eye::after{
    animation: pupilBlink 3s infinite;
}
.seaturtle {
    display: flex;
}
.casc {
    position: relative;
    animation: swim ease-in 1.2s infinite normal;
    width: 170px;
    height: 90px;
    background: #8bbb2d;
    transform: rotate(-32deg) scale(1.7);
    width: 70px;
    height: 70px;
    background-color: #50632a;
    border-radius: 0 46px;
    z-index: 1;
    margin-left: 10px;
    overflow: hidden;
}
/* turtle shell shadow */
/* .casc:before {     
    content: "";
    width: 218px;
    height: 300px;
    border-radius: 50%;
    transform: rotate(-68deg);
    position: absolute;
    right: -130px;
    top: -177%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), inset 0 0 0 15px rgba(0, 0, 0, 0.05), inset 0 0 0 30px rgba(0, 0, 0, 0.05), inset 0 0 0 45px rgba(0, 0, 0, 0.05), inset 0 0 0 60px rgba(0, 0, 0, 0.05), inset 0 0 0 75px rgba(0, 0, 0, 0.05), inset 0 0 0 90px rgba(0, 0, 0, 0.05);
} */
.hands, .feets {
    width: 50px;
    height: 70px;
    background-color: #82af2a;
    border-radius: 0 46px;
    position: absolute;
    left: 34px;
    bottom: -28px;
    transform: scale(0.8) rotate(-5deg);
    box-shadow: 16px -15px #638620;
    animation: swimHands ease 1.2s infinite forwards;
}
.feets {
    left: inherit;
    right: -30px;
    bottom: -45px;
    transform: scale(0.8) rotate(-28deg);
    animation: swimHandsAlt ease 1s infinite forwards;
}
@keyframes circle {
    from {
        transform: translate3d(-50%, 65%, 0) rotate(0deg);
   }
    to {
        transform: translate3d(-50%, 65%, 0) rotate(-360deg);
   }
}
@keyframes swim {
    0% {
        transform: rotate(-32deg) scale(1.8) translate(0, 0);
   }
    50% {
        transform: rotate(-32deg) scale(1.8) translate(0, -3px);
   }
    100% {
        transform: rotate(-32deg) scale(1.8) translate(0, 0);
   }
}
@keyframes swimAlt {
    0% {
        transform: translate(0, 0);
   }
    50% {
        transform: translate(0, -7px);
   }
    100% {
        transform: translate(0, 0);
   }
}
@keyframes swimHands {
    0% {
        transform: scale(0.8) rotate(30deg) translate(0, 0);
   }
    50% {
        transform: scale(0.8) rotate(-5deg) translate(5px, -6px);
   }
    100% {
        transform: scale(0.8) rotate(-5deg) translate(0, 0);
   }
}
@keyframes swimHandsAlt {
    0% {
        transform: scale(0.8) rotate(-28deg) translate(0, 0);
   }
    50% {
        transform: scale(0.8) rotate(-32deg) translate(8px, -6px);
   }
    100% {
        transform: scale(0.8) rotate(-28deg) translate(0, 0);
   }
}
