@import url(https://fonts.googleapis.com/css?family=Lemon);

.homeform{
    /* border: solid red; */
    position: absolute;
    top: 50%;
    left: 42%;
    height: 200px;
}
.userform{
    /* border: solid rgb(47, 0, 255); */
   position: relative;
   border: solid 2px rgba(255, 255, 255, 0.76);
   border-radius: 20px;
   height: 50px;
   width: 200px;
   font-size: 20px;
   font-family: 'Lemon';
   background: transparent;
   color: white;
   -moz-box-shadow: 0 0 6px #ccc;
   -webkit-box-shadow: 0 0 6px #ccc;
   box-shadow: 0 0 6px #ccc;
   -webkit-animation: action 1s infinite  alternate;
   animation: action 1s infinite  alternate;
}
.userbtn{
  position: relative;
    top:80px;
    left: -50%; 
    /* border: solid rgba(255, 255, 255, 0.76); */
    border-radius: 50px;
    width: 70px;
    height: 50px;
    background: transparent;
    color: rgba(255, 255, 255, 0.664);
    font-family: 'Lemon';
    -moz-box-shadow: 0 0 6px #ccc;
    -webkit-box-shadow: 0 0 6px #ccc;
    box-shadow: 0 0 6px #ccc;
    outline: none;
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
    
}






textarea:focus, input:focus{
    outline: none;
  
}
input {
    text-align: center;
    color: rgba(255, 255, 255, 0.425);
        font-family: 'Lemon';
  }
  
  ::-webkit-input-placeholder {
    text-align: center;
    color: rgba(255, 255, 255, 0.425);
        font-family: 'Lemon';
  }
  
  :-moz-placeholder {
    text-align: center;
    color: rgba(255, 255, 255, 0.425);
        font-family: 'Lemon';
  }